################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CS425_Target_IMD/ConnectionString.cs
